<%- include('partials/header') -%>
<style>
    div {
                margin: 1px;
                border: 1px solid black;
            }
    #img
    {
        width:"50px" ;
        height:"50px";
        
    }
</style>
<HR>
    <div class="alert alert-warning">
      <H1>THANH TOÁN </H1>
    </div>
<HR>


    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <H1>Chi tiết hóa đơn</H1>
            </div>
            
                <div class="row">
				<table width = "100%">
                <% for (var i = 0; i < productlist.length; i++) { %>
                    <div img>  
                    <tr style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
							<td>
								<P><%= productlist[i].urlImg%></P>
							</td>
							<td > 
								<P><%= productlist[i].Name %></P>
                                <p><b>Price: </b> <%= productlist[i].Price%></p>								
								<p><b>Num.: </b> <%= productlist[i].Num%> </p>
							</td>
						</tr>
                <% } %>
                    </div>  	
				</table>
			</div>
					

            
        </div>

     
      </div>



<%- include('partials/footer') -%>
